#loginForm {
    font-family: 'Segoe UI';
    float: center;
    height: 500px;
    width: 500px;
    font-size: 24px;
    letter-spacing: 1px;
    color:white(12, 9, 9);
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 500px;
    background: rgba(88, 86, 86, 0.19);

}
#input{
    widows: 50%;
    color:white
}
#fontstyle {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#footer {
    font-size: 24px;
    color: white;
    text-align: center;
} 
